.container {
    height: calc(100vh - 253.4px); /* Altura total da viewport menos a altura do header */
  overflow-y: auto; /* Habilita a rolagem vertical */
  padding: 16px; /* Espaçamento interno */
}